apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: 870017957268.dkr.ecr.us-east-1.amazonaws.com/nodeapp/backend:c35f8a3021896d5e392241efbe05652741071d4f
          ports:
            - containerPort: 5000
          envFrom:
            - secretRef:
                name: backend-env
  strategy:
    blueGreen:
      activeService: backend-active
      previewService: backend-preview
      autoPromotionEnabled: true
---
apiVersion: v1
kind: Service
metadata:
  name: backend-active
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
    - port: 5000
      targetPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: backend-preview
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
    - port: 5000
      targetPort: 5000