apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: test-alert
  namespace: monitoring
spec:
  groups:
    - name: test.rules
      rules:
        - alert: AlwaysFiringTest
          expr: vector(1)
          for: 1m
          labels:
            severity: critical
          annotations:
            summary: "Test Alert"
            description: "This is a test alert."